<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="static/menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

 <div class="cabecario">
    <h1>Casa Mexicana</h1>
  </div>

 <h1 class="titulo-menu">Menu</h1>
    <div class="image">
        <div class="food-image">
            <img src="static/images/Guacamole.png" alt="Guacamole">
            <h6>Guacamole</h6>
          
        </div>

        <div class="food-image"><img src="static/images/Burrito.jpg" alt="Burrito">
            <h6>Burrito</h6>
        </div>
        <div class="food-image"><img src="static/images/Chilaquiles.jpg" alt="Chilaquiles">
            <h6>Chilaquiles</h6>
        </div>
        <div class="food-image"><img src="static/images/Quesadilla.jpg" alt="Quesadilla">
            <h6>Quesadilla</h6>
        </div>
        <div class="food-image"><img src="static/images/Churros.jpg" alt="Churros">
            <h6>Churros</h6>
        </div>
        <div class="food-image"><img src="static/images/Polnorón.jpg" alt="Polnorón">
            <h6>Polnorón</h6>
        </div>
        <div class="food-image"><img src="static/images/Tres Leches.jpg" alt="Tres Leches">
            <h6>Tres Leches</h6>
        </div>
        <div class="food-image"><img src="static/images/Palheta-mexinaca.png" alt="Palheira Mexicana">
            <h6>Paleta-mexicana</h6>
        </div>


    </div>
    

</div>
 
</body>
</html>