<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>casa mexicana</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap" rel="stylesheet">
    </head>
<body>
    <h1>Casa Mexicana</h1>

    <div class="cabecario">
    
    <a href="">Home</a>
  <a href="/menu.html">Menu</a>
  <a href="/reserva.html">Reservas</a>
  <a href="/cadastro.html"> cadastro</a>

    </div>

    <div class="container-principal">

        <div class="botao_reserva">
        <a href="/reserva.html">Reservar</a>

    </div>

    </div>
   
</body>
</html>