<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>casa mexicana</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap" rel="stylesheet">
    </head>
<body>


    
    <div class="cabecario">

        <div class="titulo-principal">
    <h1>Casa Mexicana</h1>
        </div>
    
<div class="menu-lista">
 <a href="">Home</a>
  <a href="/menu">Menu</a>
  <a href="/login">Login</a>
  <a href="/visualizar-reserva">Reservas</a>
  <a href="/cadastro"> cadastro</a>

</div>
    
   

    </div>

    <div class="container-principal">

        <div class="botao_reserva">
        <a href="/realizar-reserva">Reservar</a>

    </div>

    </div>
   
</body>
</html>